* {
	margin: 0;
	padding: 0;
}

body {
	font-family: courier, monospace;
	max-width: 960px;
	margin: 0 auto;
}

body > header {
	float: right;
}

nav {
	font-weight: bold;
	padding: 10px;
	font-size: 20px;
}

ul li {
	list-style-type: none;
}

p {
	float: right;
	font-weight:regular;
	padding: 10px;
	font-size: 10px;
	text-align: right;
	
}

a {
	text-decoration: none;
	font-size: 17px;
}

footer {
	
}

