<header class="">
   <!-- <a href="{{ site.url }}/index.html"><img src="{{ site.url }}/img/signature.png" alt="Profile" id="thumbnail" style="width:100px;padding-top:10px;"/></a>-->
    <nav class="navigation">
        <ul  id="nav">
            {% for item in site.data.navlist.nav %}
            <li>
                <a class="{% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
        </ul>
   </nav>
    <p><a class='symbol' href="mailto:{{ site.email }}">contact@rahak.net</a></p>
    <p>version: 3.0</p>
</header>

